@page "/index"

<PageTitle>Index</PageTitle>

<div class="background">
    <div class="grid"></div>
    <div class="particles"></div>
    <h1 class="animated-title">Benvenuti al TCPLAT</h1>
    <div class="survey-container">
        <SurveyPrompt Title="How is Blazor working for you?" />
    </div>
</div>

@code
{
    // Your code here
}
