@using TcPlatWebApp.Authentication
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>TcPlatWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <button class="btn btn-secondary" @onclick="RefreshPage" title="Refresh">
                <i class="fas fa-sync-alt"></i> Repristina
            </button>

            <AuthorizeView>
                <button class="btn btn-danger" @onclick="Logout" title="Logout" style="margin-left: 10px;">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </AuthorizeView>
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void RefreshPage()
    {
        // Reload the current page
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private async Task Logout()
    {
        await AuthenticationStateProvider.Logout();
        NavigationManager.NavigateTo("/", forceLoad: true); // Redirect to home or login page after logout
    }
}
